* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body:has(.darkMode) {
  color: #fff;
  background-color: #000;
}
body:has(.darkMode) p {
  color: #fff;
}
